<footer class="p-5 has-text-primary-light has-background-dark">
  <div class="content has-text-centered">
    <strong class="has-text-primary-light">Tasty Treats.</strong>
    <p>
      Coding challenge created by
      <strong class="has-text-primary-light">Karol Guzik</strong>
    </p>
  </div>
</footer>
