<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Tasty Treats.</strong>Coding challenge by
      <a href="https://jgthms.com">karol Guzik</a>.
    </p>
  </div>
</footer>
