<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title>Tasty Treats</title>
  <style>
    body {
      /* padding: 1rem; */
      min-height: 100vh;
      background: #bbb;
      width: 100%;
    }

    nav.navbar {
      /* height: 10vh; */
      background: none;
      /* border-bottom: 1px solid #333; */
    }

    button.button {
      background: none;
      border: 1px solid #333;
      transition: 0.15s ease;
    }

    button.button:hover {
      border: 1px solid #333;
      background: #333;
      color: #fff;
    }

    footer.footer {
      height: 20vh;
    }
  </style>
</head>
