<nav
  class="navbar is-flex is-justify-content-space-between is-flex-wrap-wrap is-align-items-center container is-transparent pt-1 pb-1"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item is-size-4" href="/"> Tasty Treats </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a
          class="button is-normal has-background-light has-text-dark"
          href="/inquiries/form"
        >
          Make inquiry
        </a>
        <a
          class="button is-normal has-background-dark has-text-white"
          href="/inquiries"
        >
          Check enqiuries
        </a>
      </div>
    </div>
  </div>
</nav>
