<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2 class="mt-6 mb-5 is-size-5 is-uppercase has-text-centered">
      Something went wrong. Please try again.
    </h2>
  </body>
</html>
